body {
    font-family: arial, sans-serif;
    color: #FFFFFF;
    background-color: rgb(104, 75, 56);
    margin: 0;
    padding: 0;
}

#content {
    width: 60%;
    margin: auto;
    border: 1px solid #FFFFFF;
    background-color: rgb(138, 96, 48);
}

#banner {
    background-color: rgb(143, 111, 63);
    text-align: center;
    border: 1px solid #ffffff;
    margin: 10px;
    padding: 10px;
}

#blogposts {
    margin: 10px;
    border: 1px solid #ffffff;
    background-color: rgb(78, 42, 50);
}

.post {
    margin: 10px;
    padding: 10px;
    border: 1px solid #ffffff;
    background-color: rgb(102, 48, 28);
}

.post .left {
    float: left;
    margin-right: 10px;
}

.post img {
    width: 200px;
    object-fit: cover;
}

.gallery {
display: flex;
flex-wrap: wrap;
justify-content: space-around;
}