@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;1,100;1,300;1,400&display=swap');

body {
    font-size: 1rem;
    font-family: 'Roboto', sans-serif;
    background-color: rgb(43, 15, 66);
color: #ffffff;
}

#content {
    width: 60%;
    margin: auto;
    border: 1px solid #ffffff;
    background-color: rgb(54, 43, 73);
}

#banner {
    background-color: rgb(53, 34, 68);
    text-align: center;
    border: 1px solid #ffffff;
    margin: 10px;
    padding: 10px;
}

#blogposts {
    display: flex;
    flex-direction: left;
    margin: 10px;
    padding: 15px;
    border: 1px solid #ffffff;
    background-color: rgb(45, 67, 100);
}

.post {
    margin: 10px;
    padding: 10px;
    border: 1px solid #ffffff;
    background-color: rgb(46, 8, 58);
}

.post .left {
    float: left;
    margin-right: 10px;
}

.post img {
    width: 200px;
    object-fit: cover;
}

.imagesG {
display: flex;
flex-wrap: wrap;
justify-content: space-around;
}

.container {
    width: 1600px;
    margin: auto;
}

.subcontainer {
    width: 85%;
    margin: auto;
}

#cookies {
    width: 100%;
    position: fixed;
    bottom: 0;
    color: white;
    background-color: rgba(0, 0, 0, 0.7);
    z-index: 1;
    display: none;
}

.cookies {
    min-height: 70px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
    gap: 10px;

}

#cookiesBtn {
    border-radius: 5px;
    padding: 8px 12px 8px 12px;
    font-size: 1rem;
    font-family: inherit;
    cursor: pointer;
    border: 3px solid white;
    background-color: black;
    color: white;
}

@media(max-width:1600px) {
    .container {
        width: 100%;
    }
}

@media(max-width:1024px) {
    .cookies {
        padding: 10px 0;
    }
}