body {
    font-family: arial, sans-serif;
    background-color: darksalmon;
    margin: 0;
    padding: 0;
}

#content {
    width: 60%;
    margin: auto;
    border: 1px solid #000000;
    background-color: aliceblue;
}

#banner {
    background-color: navajowhite;
    text-align: center;
    border: 1px solid #000000;
    margin: 10px;
    padding: 10px;
}

#blogposts {
    margin: 10px;
    border: 1px solid #000000;
    background-color: crimson;
}

.post {
    margin: 10px;
    padding: 10px;
    border: 1px solid #000000;
    background-color: coral;
}

.post .left {
    float: left;
    margin-right: 10px;
}

.post img {
    width: 200px;
    object-fit: cover;
}

.gallery {
display: flex;
flex-wrap: wrap;
justify-content: space-around;
}