body {
    font-family: arial, sans-serif;
    background-color: rgb(210, 180, 140);
    margin: 0;
    padding: 0;
}

#content {
    width: 60%;
    margin: auto;
    border: 1px solid #000000;
    background-color: rgb(170, 109, 73);
}

#banner {
    background-color: rgb(230, 203, 168);
    text-align: center;
    border: 1px solid #000000;
    margin: 10px;
    padding: 10px;
}

#blogposts {
    margin: 10px;
    border: 1px solid #000000;
    background-color: rgb(167, 160, 132);
}

.post {
    margin: 10px;
    padding: 10px;
    border: 1px solid #000000;
    background-color: rgb(235, 194, 141);
}

.post .left {
    float: left;
    margin-right: 10px;
}

.post img {
    width: 200px;
    object-fit: cover;
}

.gallery {
display: flex;
flex-wrap: wrap;
justify-content: space-around;
}